@model TunePhere.Models.Song

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artists.ArtistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artists.ArtistName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary play-song-btn" 
            data-song-id="@Model.SongId" 
            data-title="@Model.Title" 
            data-artist="@Model.Artists.ArtistName" 
            data-file-url="@Model.FileUrl" 
            data-image-url="@Model.ImageUrl">
        <i class="fas fa-play"></i> Phát nhạc
    </button>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const playButton = document.querySelector('.play-song-btn');
            if (playButton) {
                playButton.addEventListener('click', function() {
                    const song = {
                        songId: this.getAttribute('data-song-id'),
                        title: this.getAttribute('data-title'),
                        artistName: this.getAttribute('data-artist'),
                        fileUrl: this.getAttribute('data-file-url'),
                        imageUrl: this.getAttribute('data-image-url')
                    };
                    
                    // Gọi hàm phát nhạc từ MusicPlayer
                    MusicPlayer.playSong(song);
                });
            }
        });
    </script>
}
